<div id="<%= dom_id paper %>">
  <p>
    <strong>Title:</strong>
    <%= paper.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= paper.author %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= paper.publication_year %>
  </p>

</div>
