<div class="d-flex align-items-center justify-content-center">
<h2>About Question Bank</h2>
<br/>
</div>
<div class="d-flex align-items-center justify-content-center">
<hr>
<p>tweets bank here </p>
</div>