<h1>Homepage#index</h1>
<p>Find me in app/views/homepage/index.html.erb</p>
<% if @user %>
  Logged in as <%= Current.user.email %>
  <%= button_to "Logout", logout_path, method: :delete %>
<% end %>

<% link_to "Logout", logout_path, method: :delete %>
<%= button_to "Connect Twitter", "/auth/twitter", method: :post, :data => {turbo: "false"}, class: "btn btn-primary"%>