<p style="color: green"><%= notice %></p>

<h1>Customrs</h1>

<div id="customrs">
  <% @customrs.each do |customr| %>
    <%= render customr %>
    <p>
      <%= link_to "Show this customr", customr %>
    </p>
  <% end %>
</div>

<%= link_to "New customr", new_customr_path %>
