<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<%= link_to("link",{:action => 'hello'})%>

<%= @numb %>
</ br>
<%= link_to("Hello page  with params",{:action => 'hello',:id => 1, :name => 'sam'})%>