<h1>Aircraft#index</h1>
<table >
  <tr>
    <td>
      Name
    </td>
    <td>
      Cruising Range
    </td>
    <td colspan = "3">
    Operations
    </td>
  </tr>

<% @aircrafts.each do |aircraft|%>
  <tr>
    <td><%= aircraft.name%></td>
    <td><%= aircraft.cruising_range%></td>
    <td><%= link_to("Show",aircraft_path(aircraft))%></td>
    <td>Update</td>
    <td>Delete</td>
  </tr>
<%end%>

  
