<a href = "google.com" id = "jsinfo">googel </a>
<h1>Index</h1>
<%= link_to "Sign Up", users_signup_path, id: 'elem' %>
<a href = "javascript.html" > Javascript</a>
<br>
<hr>
<b ondblclick="alert('Click!')" onmousedown="return false">
  Double-click me
</b>
<div show-info="heading">
  <h1>Users List</h1>
</div>
<br>

<!-- <button id = "test" onclick = "console.log('in the cosole using onclick event')"> Test</button> -->

<button id = "test"> Test</button>
  <div oncopy="alert('Copying forbidden!');return false">
    <table id="table1" >
      <%= render 'indextable' %>
    </table>
  </div>
    <ul id="ul"></ul>

    <button data-toggle-id="subscribe-mail">
      Show the subscription form
    </button>
    
    <form id="subscribe-mail" hidden>
      Your mail: <input type="email">
    </form>
<style>
      .selected {
      background: #0f0;
    }

    li {
      cursor: pointer;
    }
</style>
<script> 
 ul.onclick = function(event) {
      if (event.target.tagName != "LI") return;

      if (event.ctrlKey || event.metaKey) {
        toggleSelect(event.target);
      } else {
        singleSelect(event.target);
      }

    }
    ul.onmousedown = function() {
      return false;
    };

    function toggleSelect(li) {
      li.classList.toggle('selected');
    }

    function singleSelect(li) {
      let selected = ul.querySelectorAll('.selected');
      for(let elem of selected) {
        elem.classList.remove('selected');
      }
      li.classList.add('selected');
    }




  table1.insertAdjacentHTML('beforebegin', '<p>Hello</p>');
  console.log(document.body.childNodes);
  console.log(document.body.childElementCount);
  console.log(document.lastChild.nextSibling);
  let button = document.querySelector(".button-1");
  alert(button.closest('.rows1'));
  let button_del = document.getElementsByClassName("button-1");
  let allh1 = document.getElementsByTagName("h1");
  let allbutton = document.querySelectorAll(".button");
  document.getElementsByName(name);
  let table = document.getElementById('table1');
  console.log(table.id  );
  for(let i = 0; i < table.rows.length; i++){
    table.rows[i].cells[i].style.backgroundColor = 'red';
  }
  for (let elem of document.body.children) {
    if (elem.matches('a[href$="users"]')) {
      alert("The archive reference: " + elem.href );
    }
  }
  let jsinfo = document.getElementById("jsinfo");
  jsinfo.href = "google.com";
  jsinfo.className = "web" ;
  jsinfo.innerHTML = "jsinfo.com" ; 
  jsinfo.textContent = "Something" ;
  setInterval(() => elem.hidden = !elem.hidden, 1000);
  // step 1
  let newWeb = document.createElement("h2");
  // step2      create new text node
  let newText = document.createTextNode("Adding via javascript");
  // step 2 append the item or can use text.Content prperty
  newWeb.append(newText);
  // step 3 add any more attribute
  newWeb.className = 'web' ; 
  // step 4 append to the appropriate location
  let loc = document.getElementById('jsinfo');
        loc.append(newWeb);
  function getListContent() {
    let fragment = new DocumentFragment();
  
    for(let i=1; i<=3; i++) {
      let li = document.createElement('li');
      li.append(i);
      fragment.append(li);
    }
  
    return fragment;
  }
  
  ul.append(getListContent());
  function testClick(){
    console.log("test button");
    alert("you pressed test button");
  }

  //document.getElementById('test').onclick = testClick() ;
  // can add many funtion by using addEventListenenrs
  document.getElementById('test').addEventListener("click", testClick);

  let selectedTd;
  table1.onclick = function(event) {
    let td = event.target.closest('td'); // (1)
    if (!td) return; // (2)
    if (!table.contains(td)) return; // (3)
    highlight(td); // (4)
  }

  function highlight(td) {
    if (selectedTd) { // remove the existing highlight if any
      selectedTd.style.backgroundColor = 'white';
    }
    selectedTd = td;
    selectedTd.style.backgroundColor = 'yellow'; // highlight the new td
  }

  document.addEventListener('click', function(event) {
    let id = event.target.dataset.toggleId;
    if (!id) return;
    let elem = document.getElementById(id);
    elem.hidden = !elem.hidden;
  });
</script>
 