body {
  background-color: grey;
}
h1 {
  color: blue;
}
p {
  color: red;
}

a.link{
  color:green
}
a:visited{
  color:blue
}
a:hover{
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a.active{
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#header li {
  float: left;
}

#header li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#header li a:hover {
  background-color: #111111;
}