<div class="d-flex align-items-center justify-content-center">
  <h1>Users List</h1>
</div>
<br>
<div class="d-flex align-items-center justify-content-center">
<table>
  <tr>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
  </tr>
  <% end %>
</table>
</div>